@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@300&display=swap");

body {
  line-height: 1.5;
  font-family: "Lato", sans-serif, "Roboto Mono", monospace;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  display: block;
  text-decoration: none;
}
p {
  margin: 0;
}
