<div class="dropdown">
    <a data-bs-toggle="collapse" role="button" href="#test">
      <button
        data-bs-toggle="dropdown"
        aria-expanded="false"
        class="fw-bold bg-body border-0 d-flex align-items-center text-dark"
      >
        All Courses
        <span class="open">
          <span
            class="material-symbols-outlined text-success ms-9 d-flex align-items-center"
          >
            expand_more
          </span>
        </span>
        <span class="close">
          <span
            class="material-symbols-outlined text-success ms-9 d-flex align-items-center"
          >
            expand_less
          </span>
        </span>
      </button>
    </a>
    <ul class="dropdown-menu bdrs-2" id="test">
      <li><a href="#" class="dropdown-item">1</a></li>
      <li><a href="#" class="dropdown-item">2</a></li>
      <li><a href="#" class="dropdown-item">3</a></li>
    </ul>
  </div>