<div class="modal fade" tabindex="-1" id="edit" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content rounded-0 text-dark">
            <div class="modal-header p-6">
                <p class="fw-bold fs-4">Edit Admin</p>
                <button type="button" class="btn-close bdrs-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body py-0 pb-6 px-6 ">
                <p class="fw-bold mb-3">Account</p>
                <div class="pb-4">
                    <label for="name" class="form-label fs-7">Name</label>
                    <input type="text" class="form-control form-control-lg bdrs-2" id="name" value="Emir Wicks"
                        readonly>
                </div>
                <div>
                    <label for="email" class="form-label fs-7">Email</label>
                    <input type="email" class="form-control form-control-lg bdrs-2" id="email"
                        value="emir.wicks@mail.com" readonly>
                </div>
                <hr class="text-dark-subtle my-4">
                <p class="text-dark fs-5 mb-8 fw-bold">Verification</p>
                <p class="text-dark fw-bold mb-8 d-flex align-items-center">
                    <span class="material-symbols-outlined text-success me-2">
                        check_circle
                    </span>
                    Unverified
                </p>
                <a type="button"
                    class="btn btn-body border-dark-subtle text-secondary fw-bold w-100 bdrs-2 py-3 disabled">Send
                    Verification
                    Mail</a>
                <hr class="text-dark-subtle my-4">
                <p class="text-dark fw-bold mb-3 fs-5">Access Level</p>
                <div>
                    <select id="accessLevel" class="form-select form-select-lg bdrs-2">
                        <option>Admin</option>
                    </select>
                </div>
                <hr class="text-dark-subtle my-4">
                <p class="text-dark fs-5 mb-8 fw-bold">Custom Access</p>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="Lecture-other">
                        <label class="form-check-label text-dark ms-1" for="Lecture-other">
                            Lecture
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="Coupon-other">
                        <label class="form-check-label text-dark ms-1" for="Coupon-other">
                            Coupon
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="Message-other">
                        <label class="form-check-label text-dark ms-1" for="Message-other">
                            Message
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="Setting-other">
                        <label class="form-check-label text-dark ms-1" for="Setting-other">
                            Setting
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="Task Menu-other">
                        <label class="form-check-label text-dark ms-1" for="Task Menu-other">
                            Task Menu
                        </label>
                    </div>
                </div>

                <hr class="text-dark-subtle my-4">
                <p class="text-dark fw-bold mb-3 fs-5">Deactivate Account</p>
                <p class="text-danger fw-bold mb-8 d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">
                        warning
                    </span>
                    This cannot be undone!
                </p>
                <button type="button" class="btn btn-outline-danger w-100 bdrs-2 py-3">Deactivate This Account</button>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-outline-success bdrs-2 py-2 px-6 fw-bold close"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success bdrs-2 py-2 px-6 fw-bold">Update</button>
            </div>