<div class="modal fade" id="emirWicks" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bdrs-2 border-dark-subtle">
      <div class="d-flex p-6">
        <div class="border-0 rounded-0 p-0 m-0 me-4">
          <img src="../assets/images/emir.jpeg" alt="emir" class="modal-title admin h-100">
        </div>
        <div class="modal-body m-0 p-0">
          <ul class="list-unstyled text-dark fw-bold m-0 mb-3">
            <li class="mb-1 d-flex justify-content-between align-items-center">
              <span>#1</span>
              <button type="button" class="btn-close bdrs-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </li>
            <li>Admin</li>
            <li class="fs-4 mb-2">Emir Wicks</li>
            <li><a href="mailto:" class="text-secondary fs-7">emir.wicks@mail.com</a></li>
          </ul>
          <a class="d-flex justify-content-between" data-bs-toggle="collapse" href="#moreBotton" aria-expanded="false">
            <span class="py-1 px-2 bg-light fs-7 text-dark fw-bold">Verified</span>
            <span class="open">
              <span class="material-symbols-outlined text-success ms-9 d-flex align-items-center">
                expand_more
              </span>
            </span>
            <span class="close">
              <span class="material-symbols-outlined text-success ms-9 d-flex align-items-center">
                expand_less
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="collapse" id="moreBotton">
        <div class="modal-footer border-0 p-0 m-0 pe-6 pb-6">
          <a href="#" class="btn btn-outline-danger py-2 px-6 bdrs-2 me-3 fw-bold">Deactivate</a>
          <a href="#edit" data-bs-toggle="modal" class="btn btn-success py-2 px-6 bdrs-2 fw-bold">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>