.sidebar {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
}

.nav-link {
  padding: 12px 32px;
  position: relative;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  border-left: 4px solid #198754;
}


.list-group-item.active {
  border: 1px solid #dee2e6;
}